<div class="container mt-3">
    <div class="jumbotron">
        <h1 style="color:blue;">Ingrese correo</h1>
        <br>

        <form action="/set-correo" method="post">

            <div class="form-group">
                <label for="mail"><b>Correo</b></label>
                <input id="mail" class="form-control" type="email" name="mail">
            </div>
            <button class="btn btn-success mt-3 mb-5">Enviar</button>
        </form>
    </div>
</div>
